<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team 5t</title>
    <link rel="stylesheet" href="../styles/styles.css">

</head>
<body>
    <nav>
        <table>
            <tr>
                <td><a href="index.html">Home</a></td>
                <td>|</td>
                <td><a href="ProfileManagement.html">Profile Management</a></td>
                <td>|</td>
                <td><a href="QuoteHistory.html">Quote History</a></td>
            </tr>
        </table>
    </nav>

    <h1>Welcome to Team 5 COSC 4353 Project</h1>
</body>

<footer>
    <p>Joshua Batac | Christopher Le | Samuel Mlinka | Mohammed Noorani</p>
</footer>

</html>
