<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote History</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <nav>
        <table>
            <tr>
                <td><a href="index.html">Home</a></td>
                <td>|</td>
                <td><a href="ProfileManagement.html">Profile Management</a></td>
                <td>|</td>
                <td><a href="QuoteHistory.html">Quote History</a></td>
                <td>|</td>
                <td><a href="FuelQuote.html">Fuel Quote</a></td>
            </tr>
        </table>
    </nav>
    <h1 class="title">Quote History</h1>
    <table class="quote-table">
        <thead>
            <tr>
                <th>Gallons Requested</th>
                <th>Delivery Address</th>
                <th>Delivery Date</th>
                <th>Suggested Price/Gallon</th>
                <th>Total Amount Due</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table rows will be filled dynamically with data from the NoSQL database -->
        </tbody>
    </table>
</body>

<footer>
    <p>Joshua Batac | Christopher Le | Samuel Mlinka | Mohammed Noorani</p>
</footer>


</html>
